.place-list button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: .2rem;
}

.place-list .active button{
  background-color: #ffeb3b;
  font-weight: bold;  
}

.place-list button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.place-list button:focus {
  outline-color: #131313;;
}