.place-list li {
  list-style-type: none;
}

.place-list button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: .2rem;
}

.place-list .active button{
  background-color: #ffeb3b;
  font-weight: bold;  
}

.place-list button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.place-list .filter-buttons {
  text-align: center;
  width: 100%;
}

.place-list .filter-buttons button {
  font-size: 1rem;
  padding: .5rem 1rem;
}
